/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
composer.lock
/nbproject/private/
nbproject/
public/download/*.csv
public/download/*
public/download
/public/download
/public/download/
/public/cartas